
.NavigationContainer {
    margin: 0px;
    width: 100vw;

}
.Header {
    width: 100%;
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.NavigationMobile {
    position: fixed;
    max-height: 100vh;

    .Header {
        background-color: gray;
    }
}