

.IndexElementContainer {
    background-color: rgb(230, 230, 225);
    min-height: 100vh;
    display: flex;

    .SignatureCardWrapper {

        .Quote {
            margin: 10px 40px;
            font-weight: 550;
            color: rgb(64, 62, 37);
        }
    }
}
