

.IndexElementContainer {
    background-color: rgb(230, 230, 225);
    min-height: 100vh;
    display: flex;

    .SignatureCardWrapper {
        height: 80vh;
        margin: 100px;
        overflow-y: scroll;

        .Quote {
            margin: 10px 40px;
            font-weight: 550;
            color: rgb(64, 62, 37);
        }
    }
    .SignatureWrapperMobile {
        margin: 0px;
        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}


