
.CertificationFeatireCardContainer {
    border-radius: 10px;
    width: 760px;
    padding: 20px;
    height: fit-content;
    margin-top: 100px;
    background-color: white;

    img {
        max-width: 100%;
    }

    .TimeoutCounter {
        width: 100%;
        height: 20px;
        background-color: gray;
        transition: transform 3s linear;
        transform: scaleX(0);
        transform-origin: left;
    }
}