
.AboutCardContainer {
    border-radius: 10px;
    width: 760px;
    padding: 20px;
    height: fit-content;
    margin-top: 100px;
    background-color: white;
}

.mobile {
    width: 100%;
    height: calc(90% - 190px);
    margin: 10px;
    overflow-y: scroll;
}