
.PortfolioFeatureContainer {
    border-radius: 10px;
    width: 800px;
    height: fit-content;
    margin-top: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;

    .CardContainer {
        width: 500px;
        display: flex;
        justify-content: center;
    }
}