
.PortfolioFeatureContainer {
    border-radius: 10px;
    width: 800px;
    height: fit-content;
    margin-top: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;

    .CardContainer {
        width: 500px;
        display: flex;
        justify-content: center;
    }
}

.PortfolioFeatureMobile {
    width: 90%;
    margin: 2.5vh auto;
    height: unset;
    max-height: 75vh;

    h1 {
        margin: auto;
        font-size: 3.5vh;
    }

    .CardContainer {
        width: 90%;
        max-height: 95%;
        margin: auto;
    }
}