
.OpenSourceSidebarContainer {
    background-color: white;
    margin: 0px 80px;
    padding: 10px;
    border-radius: 10px;
    width: 260px;
    overflow-y: scroll;
    max-height: 80vh;
    height: 40vh;

    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
      }

    .ProjectButton {
        padding: 0px;
        border: none;
        border-radius: 10px;
        background-color: none;
        margin: 5px 0px;
        text-decoration: none;
        color: black;

        &:visited {
            color: black;
        }


        p {
            font-size: .75rem;
        }
    }
}

.OpenSourceSidebarMobile {
    margin: 20px;
    width: 80%;
}