
.FooterContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 7vh;
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: space-evenly;
    z-index: 20;

    button {
        border: none;
        background-color: unset;
    }

    .activeFooter {
        font-weight: bold;
    }
}