
.SignatureCardContainer {
    border-radius: 10px;
    height: 260px;
    width: 210px;
    margin: 10px auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-decoration: none;
    color: rgb(64, 62, 37);

    &:visited {
        color: rgb(64, 62, 37);
    }

    .ProfilePic {
        width: 150px;
        height: auto;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .Signature {
        align-self:flex-end;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

    }

    .SignatureText {
        margin: 0px;
        align-self: flex-end;
    }

    p {
        font-size: 14px;
    }

}
