

.AboutContainer {
    background-color: rgb(230, 230, 225);
    min-height: 100vh;
    display: flex;
    
}

.AboutContainerMobile {
    min-height: unset;
    height: calc(100vh - 190px);
    justify-content: center;
}