
.ProjectPickerContainer {
    background-color: white;
    margin: 100px 80px;
    padding: 10px;
    border-radius: 10px;
    width: 260px;
    overflow-y: scroll;
    max-height: 80vh;

    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
      }

    .ProjectButton {
        padding: 0px;
        border: none;
        border-radius: 10px;
        background-color: none;
        margin: 5px 0px;

        &:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
    }
}

.ProjectPickerMobile {
    margin: 20px;
    width: 80%;
}